<div class="gff-heading-block {{ block.settings.display_options }}">
    <div class="title-wrapper title-wrapper--no-top-margin{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
        <h2 class="title inline-richtext {{ block.settings.heading_size }}">{{ block.settings.heading }}</h2>
    </div>
</div>