<div class="gff-block gff-button-block banner--desktop-transparent">
    <a
        {% if block.settings.link %}
            href="{{ block.settings.link }}"
        {% else %}
            role="link" aria-disabled="true"
        {% endif %}
        class="button {% if block.settings.outline %}button--secondary{% else %}button--primary{% endif %}"
    >
        {{- block.settings.label | escape -}}
    </a>
</div>